html {
  background-color: #A7A1FF;
}
.HeadingText {
  display:block;
text-align: center;
background-color: white;
}

h3 {
  background-color: #FFFFFF;
  text-align: center;
  display: block;
}
.Row {
  display: inline-block;
  margin:auto;
}
}
video {
  margin: auto;
  display: block;
  left: 320px;
}
#Marta {
 ;
}
#Ilya {
  margin: auto;
  display: block;
}
.Commentary {
  display: inline-block;
  background-color: #FFFFFF;
}

.Performers {
  display: inline-block;
  background-color: #FFFFFF;
}

.Buttons {
  display: inline-block;
  background-color: #FFFFFF;
}
